body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
img             { margin: 0; padding: 0;}

.title          { margin: 10px; padding: 10px; }
.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.wrapper        { width: 100% }
.left           {  float: left; height: 100%; width: 10%; display: inline-block; }
.right          {  float: right; height: 100% ; width: 90%; display: inline-block;}
.gallery-item	{ width:304px; height:228px; margin: 4px 0 4px; display: block }